@font-face {
    font-family: 'rio';
    src: url('../fonts/rio.eot');
    src: url('../fonts/rio.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rio.woff') format('woff'),
         url('../fonts/rio.ttf') format('truetype'),
         url('../fonts/rio.svg#rio') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'rio';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-o_atle_l:before{content:'\0041';}
.icon-o_atle_p:before{content:'\0042';}
.icon-o_cpis_l:before{content:'\0043';}
.icon-o_cpis_p:before{content:'\0044';}
.icon-o_cest_l:before{content:'\0045';}
.icon-o_cest_p:before{content:'\0046';}
.icon-o_cbmx_l:before{content:'\0047';}
.icon-o_cbmx_p:before{content:'\0048';}
.icon-o_cmtb_l:before{content:'\0049';}
.icon-o_cmtb_p:before{content:'\004A';}
.icon-o_fute_l:before{content:'\004B';}
.icon-o_fute_p:before{content:'\004C';}
.icon-o_hand_l:before{content:'\004D';}
.icon-o_hand_p:before{content:'\004E';}
.icon-o_basq_l:before{content:'\004F';}
.icon-o_basq_p:before{content:'\0050';}
.icon-o_vole_l:before{content:'\0051';}
.icon-o_vole_p:before{content:'\0052';}
.icon-o_vpra_l:before{content:'\0053';}
.icon-o_vpra_p:before{content:'\0054';}
.icon-o_rugb_l:before{content:'\0055';}
.icon-o_rugb_p:before{content:'\0056';}
.icon-o_tarc_l:before{content:'\0057';}
.icon-o_tarc_p:before{content:'\0058';}
.icon-o_gart_l:before{content:'\0059';}
.icon-o_gart_p:before{content:'\005A';}
.icon-o_grit_l:before{content:'\0061';}
.icon-o_grit_p:before{content:'\0062';}
.icon-o_gtra_l:before{content:'\0063';}
.icon-o_gtra_p:before{content:'\0064';}
.icon-o_nsin_l:before{content:'\0065';}
.icon-o_nsin_p:before{content:'\0066';}
.icon-o_salt_l:before{content:'\0067';}
.icon-o_salt_p:before{content:'\0068';}
.icon-o_nata_l:before{content:'\0069';}
.icon-o_nata_p:before{content:'\006A';}
.icon-o_polo_l:before{content:'\006B';}
.icon-o_polo_p:before{content:'\006C';}
.icon-o_teni_l:before{content:'\006D';}
.icon-o_teni_p:before{content:'\006E';}
.icon-o_golf_l:before{content:'\006F';}
.icon-o_golf_p:before{content:'\0070';}
.icon-o_remo_l:before{content:'\0071';}
.icon-o_remo_p:before{content:'\0072';}
.icon-o_vela_l:before{content:'\0073';}
.icon-o_vela_p:before{content:'\0074';}
.icon-o_cvel_l:before{content:'\0075';}
.icon-o_cvel_p:before{content:'\0076';}
.icon-o_csla_l:before{content:'\0077';}
.icon-o_csla_l:before{content:'\0078';}
.icon-o_tria_l:before{content:'\0079';}
.icon-o_tria_p:before{content:'\007A';}
.icon-o_hsal_l:before{content:'\0030';}
.icon-o_hsal_p:before{content:'\0031';}
.icon-o_hcce_l:before{content:'\0032';}
.icon-o_hcce_p:before{content:'\0033';}
.icon-o_hade_l:before{content:'\0034';}
.icon-o_hade_p:before{content:'\0035';}
.icon-o_hoqu_l:before{content:'\0036';}
.icon-o_hoqu_p:before{content:'\0037';}
.icon-o_esgr_l:before{content:'\0038';}
.icon-o_esgr_p:before{content:'\0039';}
.icon-o_tesp_l:before{content:'\0021';}
.icon-o_tesp_p:before{content:'\0022';}
.icon-o_leva_l:before{content:'\0023';}
.icon-o_leva_p:before{content:'\0024';}
.icon-o_taek_l:before{content:'\0025';}
.icon-o_taek_p:before{content:'\0026';}
.icon-o_judo_l:before{content:'\0027';}
.icon-o_judo_p:before{content:'\0028';}
.icon-o_luta_l:before{content:'\0029';}
.icon-o_luta_p:before{content:'\002A';}
.icon-o_badm_l:before{content:'\002B';}
.icon-o_badm_p:before{content:'\002C';}
.icon-o_tmes_l:before{content:'\002D';}
.icon-o_tmes_p:before{content:'\002E';}
.icon-o_boxe_l:before{content:'\002F';}
.icon-o_boxe_p:before{content:'\005B';}
.icon-o_pent_l:before{content:'\005C';}
.icon-o_pent_p:before{content:'\005D';}